@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

/* --------------------- Top-header --------------------- */

header {
  height: 130px;
  width: 100%;

  position: fixed;
  top: 0;

  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.top-header {
  width: 1340px;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header-child-1 {
  width: 514.82px;
  height: 40.02px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 144.82px;
  height: 40.02px;
  cursor: pointer;
}

.logo img {
  width: 144.82px;
  height: 40.02px;
}

.form {
  width: 350px;
  height: 32px;

  display: flex;
  justify-content: space-between;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.form:focus-within {
  outline: rgb(0, 0, 0) solid 1px;
}

.input-search {
  width: 90%;
  height: 100%;
  font-size: 16px;
  padding: 15px;

  border: none;
  border-radius: 20px;

  outline: none;
}

.search-btn {
  width: 32px;
  height: 32px;

  border-radius: 20px;

  background: none;
  border: none;

  cursor: pointer;
}

.search-btn img {
  width: 18px;
  height: 18px;
}

.top-header-child-2 {
  width: 495px;
  height: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-account {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.person-icon,
.heart-icon,
.bag-icon {
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.checkout-btn {
  width: 160px;
  height: 42px;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  border: none;
  border-radius: 30px;

  color: rgb(255, 255, 255);
  background: linear-gradient(106.38deg, #d38bff 14.55%, #722de3 79.13%);

  cursor: pointer;
}

.checkout-btn:active {
  outline: 2px solid rgb(0, 0, 0);
}

/* --------------------- Bottom-header --------------------- */

.bottom-header {
  position: relative;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 0, 0);
}

.nav-list {
  width: 951px;
  height: 100%;

  display: flex;
  justify-content: space-between;

  list-style: none;
  color: rgb(255, 255, 255);
}

.nav-list-item {
  position: relative;
  height: 100%;

  display: flex;
  align-items: center;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  cursor: pointer;
}

.nav-list-item:hover {
  color: rgb(170, 170, 170);
}

.nav-list-item:hover .dropdown {
  display: flex;
}

.nav-list-item:hover ~ .overlay {
  display: block;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  padding: 20px;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  list-style: none;
  cursor: auto;

  z-index: 1;
}

.dropdown li {
  font-size: 16px;
  line-height: 16px;
  align-items: center;

  cursor: pointer;
}

.dropdown li:hover {
  color: rgb(170, 170, 170);
}

.living-room {
  width: 188px;
  height: 186px;
}

.bedroom {
  width: 165px;
  height: 212px;
}

.dining-kitchen {
  width: 138px;
  height: 108px;
}

.home-office {
  width: 188px;
  height: 160px;
}

.overlay {
  width: 100%;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 50px;

  display: none;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(40px);
}

/* --------------------- Main --------------------- */

main {
  width: 100%;
  margin-top: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- Section 1 --------------------- */

.prod-section-1 {
  width: 1340px;
  display: flex;
  gap: 59.33px;

  margin-top: 45px;
}

.prod-highlight {
  display: flex;
  gap: 40px;
}

.prod-mini-slider {
  height: 565px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mini-slider-imgs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mini-slider-imgs img {
  cursor: pointer;
}

.mini-slider-up-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.mini-slider-down-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;

  border: none;
  border-radius: 50%;

  transform: rotate(180deg);

  cursor: pointer;
}

.prod-info-wrapper {
  width: 810px;
}

.prod-header {
  height: 67px;

  display: flex;
  justify-content: space-between;
}

.prod-header h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}

.prod-price-id {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 19px;
}

.prod-price-id p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.prod-details {
  display: flex;
  flex-direction: column;
  gap: 15px;

  border-top: 1px solid #000000;
  padding: 20px 10px;
  margin-top: 37px;
}

.prod-color {
  display: flex;
  align-items: center;
  gap: 50px;
}

.prod-color-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.prod-select-color {
  display: flex;
  gap: 30px;
}

.prod-select-color button {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 45px;

  padding: 10px;

  cursor: pointer;
}

.prod-stock {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #00aa00;
}

.add-to-bag {
  width: 264px;
  height: 40px;

  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  background: linear-gradient(106.38deg, #d38bff 14.55%, #722de3 79.13%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;

  cursor: pointer;
}

.add-to-bag:active {
  border: 2px solid rgb(0, 0, 0);
}

.prod-description {
  margin-top: 40px;
  padding: 20px 10px;
  border-top: 1px solid rgb(0, 0, 0);
}

.prod-description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

/* --------------------- Section-2 --------------------- */

.prod-section-2 {
  width: 100%;
  padding: 10px 50px;
  margin-top: 85px;

  display: flex;
  justify-content: center;

  background-color: #f5f5f5;
}

.users {
  width: 1340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;

  border-bottom: 1px solid #c2c2c2;
}

.user-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-date {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.stars {
  display: flex;
  gap: 10px;
}

.user-review {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-right: 8.5px;
}

.user-name-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.user-status {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #00aa00;
}

/* --------------------- Footer --------------------- */

footer {
  width: 100%;
  height: 140px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 125px 0 20px;
}

.top-footer {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 50px;
  list-style: none;
}

.social-media li {
  cursor: pointer;
}

.bottom-footer {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eeeeee;
}

.footer-nav {
  width: 492px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.footer-nav li {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  cursor: pointer;
}

.footer-nav li:hover {
  color: rgb(170, 170, 170);
}
