<header>
  <div class="top-header">
    <div class="top-header-child-1">
      <h1 class="logo">
        <img src="assets/Design-9_logo.svg" alt="Logo" />
      </h1>
      <form class="form">
        <input class="input-search" type="text" name="search" />
        <button class="search-btn" type="button" name="search">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>

    <div class="top-header-child-2">
      <h2 class="my-account">
        My Account

        <i class="bi bi-person"></i>
      </h2>
      <i class="bi bi-heart"></i>
      <i class="bi bi-bag"></i>
      <button class="checkout-btn" type="button">Checkout</button>
    </div>
  </div>

  <nav class="bottom-header">
    <ul class="nav-list">
      <li class="nav-list-item">
        Living Room
        <ul class="dropdown living-room">
          <li>Book & Shelves</li>
          <li>Coffe Table</li>
          <li>Fireplaces</li>
          <li>Nest of Tables</li>
          <li>Side Tables</li>
          <li>TV Units</li>
        </ul>
      </li>

      <li class="nav-list-item">
        Bedroom
        <ul class="dropdown bedroom">
          <li>Beds</li>
          <li>Bedside Tables</li>
          <li>Chest of Drawers</li>
          <li>Consoles</li>
          <li>Dressing Tables</li>
          <li>Nightstand</li>
          <li>Wardrobes</li>
        </ul>
      </li>

      <li class="nav-list-item">
        Dining & Kitchen
        <ul class="dropdown dining-kitchen">
          <li>Dining Tables</li>
          <li>Sideboards</li>
          <li>Kitchen</li>
        </ul>
      </li>

      <li class="nav-list-item">
        Home Office
        <ul class="dropdown home-office">
          <li>Desks</li>
          <li>Bookcases & Shelves</li>
          <li>Consoles</li>
          <li>Binder Shelves</li>
          <li>Drawers</li>
        </ul>
      </li>

      <li class="nav-list-item">Storage</li>
      <li class="nav-list-item">Posters</li>
      <!-- <div class="overlay"></div> -->
    </ul>
  </nav>
</header>

<!-- <div class="overlay"></div> -->
